<div class="navbar-wrapper ">
      <div class="container">

        <div class="navbar navbar-inverse navbar-fixed-top animated fadeInDown" role="navigation" id="top-nav">
          <div class="container">
            <div class="navbar-header">
              <!-- Logo Starts -->
              <a class="navbar-brand" routerLink=""><img src="assets/images/logo4.jpg" height="60" width="90" alt="logo"/></a>
              <!-- #Logo Ends -->


              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>


            <!-- Nav Starts -->
            <div class="navbar-collapse  collapse">
              <ul class="nav navbar-nav navbar-right" >
                  <li class="activer"><a routerLink="">Home</a></li>
                  <li *ngIf="isCorrect" class="activer"><a routerLink="/bookingsadmin">View Bookings</a></li>
			       <li *ngIf="isCorrect" class="activer"><a routerLink="/eventsadmin">Gig</a></li>
				    <li *ngIf="isCorrect" class="activer"><a routerLink="/mixtape">Mix-Tape</a></li>
					 <li *ngIf="isCorrect" class="activer"><a routerLink="/fanadmin">Fans</a></li>
					<li *ngIf="isCorrect" class="activer"><a routerLink="/messagesadmin">Messages</a></li>
				  <li *ngIf="isCorrect" class="activer"><a (click)= "onLogout()" >Logout</a></li>
              </ul>
            </div>
            <!-- #Nav Ends -->

          </div>
        </div>

      </div>
    </div>
	

	
	
			
	<!-- overlay -->
<div class="container overlay">





<!-- blockblack -->
<div>
<h1>&nbsp;</h1>
</div>
<div class="blockblack">
<div>
<h1>&nbsp;</h1>
</div>

<h2 *ngIf="!isCorrect"> <i class="fa fa-lock"></i> Admin</h2>
<h2 *ngIf="isCorrect"> <i class="fa fa-unlock" aria-hidden="true"></i> JOSIE KEEN</h2>

<!--Booking Starts-->
<div id="contact" class="spacer">
<div class="contactform center">

<p *ngIf="isCorrect"><strong>You can now perform admin functionalities.</strong></p>
  <div *ngIf="!isCorrect" class="row">      
      <div class="col-sm-6  ">
		<form #form="ngForm" (ngSubmit)="onSignIn(form)">
        <input type="password" id="key" name="key" placeholder="Key word" ngModel>
	
        <button type="submit" [disabled]="!form.valid" class="btn btn-primary "><i class="fa fa-sign-in" aria-hidden="true"></i> Sign In</button>
		
		</form>
      </div>
	  
  </div>
  





</div>
<!--Booking Ends-->
</div>



</div>
<!-- blockblack -->

</div>






<!-- background slider -->
<div id="myCarousel" class="carousel slide hidden-xs">
<div class="carousel-inner">
    <div class="active item"><img src="assets/images/b1.jpg" alt="" /></div>
    <div class="item"><img src="assets/images/b1.jpg" alt="" /></div>
    <div class="item"><img src="assets/images/b1.jpg" alt="" /></div>
  </div>
</div>
<!-- background slider -->

