<div class="navbar-wrapper ">
      <div class="container">

        <div class="navbar navbar-inverse navbar-fixed-top animated fadeInDown" role="navigation" id="top-nav">
          <div class="container">
            <div class="navbar-header">
              <!-- Logo Starts -->
              <a class="navbar-brand" routerLink=""><img src="assets/images/logo4.jpg" height="60" width="90" alt="logo"/></a>
              <!-- #Logo Ends -->


              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>


            <!-- Nav Starts -->
            <div class="navbar-collapse  collapse">
              <ul class="nav navbar-nav navbar-right" >
                  <li  class="activer"><a routerLink="">Home</a></li>
                  <li *ngIf="isCorrect" class="activer"><a routerLink="/admin">Admin</a></li>
			       <li *ngIf="isCorrect" class="activer"><a routerLink="/eventsadmin">Gig</a></li>
				   <li *ngIf="isCorrect" class="activer"><a routerLink="/mixtape">Mix-Tape</a></li>
				   <li *ngIf="isCorrect" class="activer"><a routerLink="/messagesadmin">Messages</a></li>
				   <li *ngIf="isCorrect" class="activer"><a (click) = "onLogout()" >Logout</a></li>
              </ul>
            </div>
            <!-- #Nav Ends -->

          </div>
        </div>

      </div>
    </div>
	

	
	
			
	<!-- overlay -->
<div class="container overlay">





<!-- blockblack -->
<div>
<h1>&nbsp;</h1>
</div>
<div class="blockblack">
<div>
<h1>&nbsp;</h1>
</div>

<h2 *ngIf="isCorrect"> <i  class="fa fa-book"></i> Bookings</h2>

<h2 *ngIf="!isCorrect"> <i class="fa fa-exclamation-circle"></i> You have to login </h2>


<!--Booking Starts-->
<div id="contact" class="spacer">
<div class="contactform center">

  <div  *ngIf="isCorrect"  class="row">      
      <div  class="col-sm-8">

       <div  class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100">
					<table border="2">
						<thead>
							<tr class="table100-head">
								<th class="column1">Event Date</th>
								<th class="column2">Event Location</th>
								<th class="column6">Event Type</th>
								<th class="column3">Name</th>
								<th class="column4">Email</th>
								<th class="column5">Cell</th>
								<th class="column5">Action</th>
							</tr>
						</thead>
						<tbody *ngIf="domRefresh" >
								<tr *ngFor="let booking of persons; let x = index">
									<td class="column1">{{booking.eventDate}}</td>
									<td class="column2">{{booking.eventLocation}}</td>
									<td class="column3">{{booking.eventType}}</td>
									<td class="column4">{{booking.name}}</td>
									<td class="column5">{{booking.mail}}</td>
									<td class="column6">{{booking.cNumber}}</td>
									 <td><button (click)="onDelete(booking)" type="button"  class="btn btn-danger"><i title="Delete" class="fa fa-trash-o trashBin2" aria-hidden="true"></i></button></td>
								</tr>
								
								
								
								
								
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
      </div>
	  
	  
  </div>
  
  <div *ngIf="isCorrect"  class="row">
	<div class="col-sm-4">
		
		<spinner *ngIf= "!bookingsLoaded"  [size]="30"  [tickness]="4" ></spinner>
		
	</div>
	
  </div>
  





</div>
<!--Booking Ends-->
</div>



</div>
<!-- blockblack -->

</div>






<!-- background slider -->
<div id="myCarousel" class="carousel slide hidden-xs">
<div class="carousel-inner">
    <div class="active item"><img src="assets/images/b1.jpg" alt="" /></div>
    <div class="item"><img src="assets/images/b1.jpg" alt="" /></div>
    <div class="item"><img src="assets/images/b1.jpg" alt="" /></div>
  </div>
</div>
<!-- background slider -->

