<div class="navbar-wrapper ">
      <div class="container">

        <div class="navbar navbar-inverse navbar-fixed-top animated fadeInDown" role="navigation" id="top-nav">
          <div class="container">
            <div class="navbar-header">
              <!-- Logo Starts -->
              <a class="navbar-brand" routerLink=""><img src="assets/images/logo4.jpg" height="60" width="90" alt="logo"/></a>
              <!-- #Logo Ends -->


              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>


            <!-- Nav Starts -->
            <div class="navbar-collapse  collapse">
              <ul class="nav navbar-nav navbar-right" >
                  <li class="activer"><a routerLink="">Home</a></li>
                  <li *ngIf="isCorrect" class="activer"><a routerLink="/bookingsadmin">View Bookings</a></li>
				  <li *ngIf="isCorrect" class="activer"><a routerLink="/mixtape">Mix-Tape</a></li>
			       <li *ngIf="isCorrect"  class="activer"><a routerLink="/admin">Admin</a></li>
				   <li *ngIf="isCorrect" class="activer"><a routerLink="/messagesadmin">Messages</a></li>
				   <li *ngIf="isCorrect" class="activer"><a (click)="onLogout()">Logout</a></li>
              </ul>
            </div>
            <!-- #Nav Ends -->

          </div>
        </div>

      </div>
    </div>
	

	
	
			
	<!-- overlay -->
<div class="container overlay">





<!-- blockblack -->
<div>
<h1>&nbsp;</h1>
</div>
<div class="blockblack">
<div>
<h1>&nbsp;</h1>
</div>

<h2 *ngIf="isCorrect" > <span class="glyphicon glyphicon-calendar"></span> Gig Guide</h2>

<h2 *ngIf="!isCorrect"> <i class="fa fa-exclamation-circle"></i> You have to login </h2>

<!--Booking Starts-->
<div id="contact" class="spacer">
<div class="contactform center">

  <div  *ngIf="isCorrect" class="row">      
     
     
      <div  class="col-sm-12  ">

       <div  class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100">
					<table border="2">
						<thead>
							<tr class="table100-head">
								<th class="column1">Event Title</th>
								<th class="column2">Event Description</th>
								<th class="column3">Event Date</th>
								<th class="column4">Event Time</th>
								<th class="column5">Action</th>
							</tr>
						</thead>
						<tbody *ngIf = "domRefresh">
								<tr *ngFor="let event of persons; let x = index">
									<td class="column1">{{event.title}}</td>
									<td class="column2">{{event.desc}}</td>
									<td class="column3">{{event.eventDate}}</td>
									<td class="column4">{{event.eventTime}}</td>
								
									 <td class="column5"> <button (click)="onDelete(event)" type="button"  class="btn btn-danger"><i title="Delete" class="fa fa-trash-o trashBin2" aria-hidden="true"></i></button></td>
								</tr>
								
								
								
								
								
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
      </div>
	  

<!--Booking Ends-->
	

	 
	  
  </div>
  
  
    <div *ngIf="isCorrect"  class="row">
	    <div class="col-sm-4">
			<spinner *ngIf="!eventsLoaded"   [size]="30"  [tickness]="4" ></spinner>
	    </div>
  </div>
  
  <br>
  <br>
  <div *ngIf="isCorrect" class="row">
  
		  <div class="col-sm-6 ">
	  <h5><strong>Add Event</strong></h5><br>
	  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
		<label for="name">Title</label>
        <input type="text" id="title" name="title"  placeholder=""  ngModel required>
		<label for="desc">Description</label>
        <textarea  rows="3"  id="desc" name="desc" placeholder=""  ngModel  required></textarea>
		
		<label for="eventDate" >Event Date</label>
        <input type="date"  id="eventDate" name="eventDate"  ngModel required >
		<label for="eventTime" >Event Time</label>
        <input type="time"  id="eventTime" name="eventTime"  ngModel required >
		<label for="eventPic" >Event Picture</label>
		<input id="eventPic" name="imageUrl" type="file" accept="image/*" (change)="handleInputChange($event)" />
				

		
		<label *ngIf="hasSent" >Event Added.</label>
		<label *ngIf="errorOccured">An unexpected error occured. Please check your network connection.</label>
        <button type="submit" [disabled]="!form.valid || isWait " class="btn btn-primary"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i> Add  <spinner *ngIf= "isWait"   [size]="23"  [tickness]="8" ></spinner>   </button>
		</form>
      </div>
  
  </div>


</div>
<!--Booking Ends-->
</div>



</div>
<!-- blockblack -->

</div>






<!-- background slider -->
<div id="myCarousel" class="carousel slide hidden-xs">
<div class="carousel-inner">
    <div class="active item"><img src="assets/images/b1.jpg" alt="" /></div>
    <div class="item"><img src="assets/images/b1.jpg" alt="" /></div>
    <div class="item"><img src="assets/images/b1.jpg" alt="" /></div>
  </div>
</div>
<!-- background slider -->

