<div class="navbar-wrapper ">
      <div class="container">

        <div class="navbar navbar-inverse navbar-fixed-top animated fadeInDown" role="navigation" id="top-nav">
          <div class="container">
            <div class="navbar-header">
              <!-- Logo Starts -->
              <a class="navbar-brand" routerLink=""><img src="assets/images/logo4.jpg" height="60" width="90" alt="logo"/></a>
              <!-- #Logo Ends -->


              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>


            <!-- Nav Starts -->
            <div class="navbar-collapse  collapse">
              <ul class="nav navbar-nav navbar-right" >
                  <li  class="activer"><a routerLink="">Home</a></li>
                  <li *ngIf="isCorrect" class="activer"><a routerLink="/bookingsadmin">View Bookings</a></li>
			       <li *ngIf="isCorrect" class="activer"><a routerLink="/eventsadmin">Gig</a></li>
				   <li *ngIf="isCorrect" class="activer"><a routerLink="/admin">Admin</a></li>
				   <li *ngIf="isCorrect" class="activer"><a routerLink="/messagesadmin">Messages</a></li>
				   <li *ngIf="isCorrect"  class="activer"><a (click)= "onLogout()" >Logout</a></li>
              </ul>
            </div>
            <!-- #Nav Ends -->

          </div>
        </div>

      </div>
    </div>
	

	
	
			
	<!-- overlay -->
<div class="container overlay">





<!-- blockblack -->
<div>
<h1>&nbsp;</h1>
</div>
<div class="blockblack">
<div>
<h1>&nbsp;</h1>
</div>

<h2 *ngIf="isCorrect"> <i class="fa fa-music" aria-hidden="true"></i> Mix Tape</h2>
<h2 *ngIf="!isCorrect"> <i class="fa fa-exclamation-circle"></i> You have to login </h2>

<!--Booking Starts-->
<div id="contact" class="spacer">
<div *ngIf="isCorrect" class="contactform center">

  <div class="row">      
      <div class="col-sm-6  ">
	  
	<form #form = "ngForm" (ngSubmit)="onUpload(form)">
        <input type="text" id="url" name="url" placeholder="Url of the mixtape e.g Datafilehost url"   ngModel  required >
		<textarea  rows="3"  id="desc" name="desc" placeholder="Description"  ngModel  required></textarea>
		
		<label *ngIf="hasSent" >Mix Tape added</label>
		<label *ngIf="errorOccured">An unexpected error occured. Please check your network connection.</label>
        <button type="submit" [disabled]="!form.valid || isWait"  class="btn btn-primary"><i class="fa fa-cloud-upload" aria-hidden="true"></i> Upload <spinner *ngIf= "isWait"   [size]="23"  [tickness]="8" ></spinner> </button>
		
	</form>
   </div>
   
     <div class="col-sm-6  ">
	  
	     <div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100">
					<table border="2">
						<thead>
							<tr class="table100-head">
								<th class="column1">URL</th>
								<th class="column2"> Description</th>
								
								<th class="column5">Action</th>
							</tr>
						</thead>
						<tbody *ngIf="domRefresh">
								<tr *ngFor="let mix of persons; let x = index">
									<td class="column1">{{mix.url}}</td>
									<td class="column2">{{mix.desc}}</td>

									 <td class="column5"> <button (click)="onDelete(mix)" type="button"  class="btn btn-danger"><i title="Delete" class="fa fa-trash-o trashBin2" aria-hidden="true"></i></button></td>
								</tr>
								
								
								
								
								
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
   </div>
   <div class="col-sm-3">
			<spinner *ngIf="!mixTapeLoaded"   [size]="30"  [tickness]="4" ></spinner>
   </div>
	  
	  
  </div>
  
  
 
  
 
  





</div>
<!--Booking Ends-->
</div>



</div>
<!-- blockblack -->

</div>






<!-- background slider -->
<div id="myCarousel" class="carousel slide hidden-xs">
<div class="carousel-inner">
    <div class="active item"><img src="assets/images/b1.jpg" alt="" /></div>
    <div class="item"><img src="assets/images/b1.jpg" alt="" /></div>
    <div class="item"><img src="assets/images/b1.jpg" alt="" /></div>
  </div>
</div>
<!-- background slider -->

