.btnView, .btnAdd{
	width: 120px;
	height: 40px;
	border-radius: 10%;
}


.show-menu {
    position: fixed;
    z-index: 999;
    top: 50px;
    right: 100px;
    text-align: center;
}
.show-menu a:hover, .show-menu a {
    font: normal normal 100 100px/70px 'Fira Sans', sans-serif;
    border: 1px solid rgba(37,58,68,.15);
    text-decoration: none;
    border-radius: 50px;
    background: #fff;
    display: block;
    color: #455a64;
    width: 70px;
    height: 70px;
    padding: 0px;
    outline: none;
}
/*Menu */

nav.main-menu {
    top: 130px;
    right: 100px;
    z-index: 998;
    display: none;
    position: fixed;
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid rgba(37,58,68,.15);
}
nav.main-menu a:link, nav.main-menu a:hover, nav.main-menu a:focus, nav.main-menu a { 
    color: #455a64;
    text-align: left;
    font: normal normal 400 18px/30px 'Fira Sans', sans-serif;
    padding: 10px 50px 10px 30px;
    border-radius: 0;
}
.show-menu {
    position: fixed;
    z-index: 999;
    top: 55px;
    right: 20px;
    text-align: center;
}
.show-menu a:hover, .show-menu a {
    font: normal normal 100 100px/70px 'Fira Sans', sans-serif;
    border: 1px solid rgba(37,58,68,.15);
    text-decoration: none;
    border-radius: 50px;
    background: #fff;
    display: block;
    color: #455a64;
    width: 70px;
    height: 70px;
    padding: 0px;
    outline: none;
}
.shadow-top-down {
    box-shadow: 0px 8px 8px -4px rgba(0,0,0,0.75);
    transition: all .5s;
}
.shadow-top-down:hover { box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.25);}

.main-menu{
	width: 210px;
}


@media (min-width: 992px) and (max-width: 1199px) {
    .show-menu {right: 50px;}
    nav.main-menu {right: 50px;}
}
@media (max-width: 991px) {
    .show-menu {right: 30px;}
    nav.main-menu {right: 30px;}
}
@media (max-width: 767px) {
    #templatemo_download h2 {font-size: 70px;}
    #templatemo_home h2 {font-size: 26px;}
}
@media (max-width: 400px) {
    nav.main-menu {right: 10px;}
    .show-menu {right: 10px;}
    #templatemo_contact .social a {
        padding: 18px;
        font-size: 25px;
        line-height: 20px;
        height: 60px;
        width: 60px;
    }
}

.main_h {
  position: fixed;
  top: 0px;
  max-height: 52px;
  z-index: 999;
  width: 100%;
  background: none;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  top: -100px;
}


@media only screen and (max-width: 766px) {
  .sticky {
    background-color: #101529;
  }

  .main_h {
    padding-top: 0px;
  }



   ul {
    padding-top: 10px;
    margin-bottom: 22px;
    float: left;
    text-align: center;
    width: 100%;
  }

  .mobile-toggle {
    display: block;
  }

   ul a {
    display: block;
    width: 100%;
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 0px;
    background-color: #3F4658;
    color: #9B9CB9;
    font-weight: 700;
    font-style: normal;
  }

   ul a:hover {
    color: #CDCDDC;
    background-color: #32394B;
  }

   ul li {
    width: 100%;
    margin: 0;
    padding-right: 0;
    padding-left: 0;
    padding-top: 1px;
    padding-bottom: 1px;
    line-height: 30px;
  }

   ul a.active {
    border-bottom-style: none;
    padding-bottom: 5px !important;
    background-color: #32394B;
  }

  .line:after {
    height: 1px;
    background-color: #8A9AD2;
  }

  a.out {
    background-color: #3F4658;
    color: #9B9CB9;
  }

  a.out:before {
    color: #CDCDDC;
    background-color: #32394B;
  }
}

.fa.fa-shopping-cart{

  font-size: 50px;
 
  margin-top: -15px !important;
}

.show-menu{
	padding-top: 30px !important;
}

.fanImg{
	
	height: 300px !important;
}
