<div class="navbar-wrapper ">
      <div class="container">

        <div class="navbar navbar-inverse navbar-fixed-top animated fadeInDown" role="navigation" id="top-nav">
          <div class="container">
            <div class="navbar-header">
              <!-- Logo Starts -->
			  
              <a class="navbar-brand" routerLink=""><img src="assets/images/logo4.jpg" height="60" width="90" alt="logo"/></a>
              <!-- #Logo Ends -->


            </div>


            <!-- Nav Starts -->
            <div class="navbar-collapse  collapse">
              <ul class="nav navbar-nav navbar-right" >
                  <li class="active"><a routerLink="">Home</a></li>
                 
				
              </ul>
            </div>
            <!-- #Nav Ends -->

          </div>
        </div>

      </div>
    </div>
	
	
	
	
	
		
	<!-- overlay -->
<div class="container overlay">





<!-- blockblack -->
<div>
<h1>&nbsp;</h1>
</div>
<div class="blockblack">
<div>
<h1>&nbsp;</h1>
</div>

<h2> <i class="fa fa-users" aria-hidden="true"></i> Fan-Page</h2>
<br>
<h5>Shout out to all my fans out there. I appreciate the love <i class="fa fa-heart-o" aria-hidden="true"></i> <i class="fa fa-heart-o" aria-hidden="true"></i>.</h5>
<br>

<mat-spinner *ngIf="!domRefresh"></mat-spinner>


<!--Booking Starts-->
<div *ngIf="domRefresh" id="contact" class="spacer">

<div class="contactform center">


  <div class="row isotope-grid">

				<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women" *ngFor="let fan of events ;let i = index;">
				
						
					<!-- Block2 -->
					<div class="block2" >
						<div class="block2-pic hov-img0">
							<img class="fanImg" [src]="fan.pic" alt="Fan">

							<!--<a href="#" data-toggle="modal" data-target="#exampleModalCenter"  class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1" >
								Quick View
							</a>-->
						</div>

						<div class="block2-txt flex-w flex-t p-t-14">
							<div class="block2-txt-child1 flex-col-l ">
								<a  class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
									{{fan.fanName}}
								</a>
	
								
							</div>
							
							

							<div class="block2-txt-child2 flex-r p-t-3">
								<a class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
									<img class="icon-heart1 dis-block trans-04" src="assets/brand/img/icons/icon-heart-01.png" alt="">
									<img class="icon-heart2 dis-block trans-04 ab-t-l" src="assets/brand/img/icons/icon-heart-02.png" alt="">
								</a>
							</div>
							
							
						</div>
					</div>
				</div>


			</div>
  





</div>
<!--Booking Ends-->
</div>



</div>
<!-- blockblack -->

</div>




<!-- Footer Starts -->
<div id="footer">
<div class="container">
 &copy; JOSIE KEEN.
</div>
</div>
<!-- # Footer Ends -->


<!-- background slider -->
<div id="myCarousel" class="carousel slide hidden-xs">
<div class="carousel-inner">
    <div class="active item"><img src="assets/images/b1.jpg" alt="" /></div>
    <div class="item"><img src="assets/images/b1.jpg" alt="" /></div>
    <div class="item"><img src="assets/images/b1.jpg" alt="" /></div>
  </div>
</div>
<!-- background slider -->


	<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Brand</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
				
					<div class="row">
					<div class="col-md-6 col-lg-7 p-b-30">
						<div class="p-l-25 p-r-30 p-lr-0-lg">
							<div class="wrap-slick3 flex-sb flex-w">
								<div class="wrap-slick3-dots"></div>
								<div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

								<div class="slick3 gallery-lb">
									<div class="item-slick3" data-thumb="assets/brand/img/product-01.jpg">
										<div class="wrap-pic-w pos-relative">
											<img src="assets/brand/img/product-01.jpg" alt="IMG-PRODUCT">

											<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="assets/brand/img/product-01.jpg">
												<i class="fa fa-expand"></i>
											</a>
										</div>
									</div>


								</div>
							</div>
						</div>
					</div>
					
					<div class="col-md-6 col-lg-5 p-b-30">
						<div class="p-r-50 p-t-5 p-lr-0-lg">
							<h4 class="mtext-105 cl2 js-name-detail p-b-14">
								Lightweight Jacket
							</h4>

							<span class="mtext-106 cl2">
								$58.79
							</span>

							<p class="stext-102 cl3 p-t-23">
								Nulla eget sem vitae eros pharetra viverra. Nam vitae luctus ligula. Mauris consequat ornare feugiat.
							</p>
							
							<!--  -->
							<div class="p-t-33">
								<div class="flex-w flex-r-m p-b-10">
									<div class="size-203 flex-c-m respon6">
										Size
									</div>

									<div class="size-204 respon6-next">
										<div class="rs1-select2 bor8 bg0">
										
												<select class="form-control">
												 <option>Size S</option>
												  <option>Size M</option>
												  <option>Size L</option>
												  <option>Size XL</option>
												</select>
										</div>
									</div>
								</div>

								<div class="flex-w flex-r-m p-b-10">
									<div class="size-203 flex-c-m respon6">
										Color
									</div>

									<div class="size-204 respon6-next">
										<div class="rs1-select2 bor8 bg0">
										
										<select class="form-control">
												 <option>Red</option>
												  <option>Blue</option>
												 	<option>White</option>
												  <option>Grey</option>
										</select>
										</div>
									</div>
								</div>

								<div class="flex-w flex-r-m p-b-10">
									<div class="size-204 flex-w flex-m respon6-next">
										<div class="wrap-num-product flex-w m-r-20 m-tb-10">
											<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
												<i class="fs-16 zmdi zmdi-minus"></i>
											</div>

											<input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product" value="3">

											<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
												<i class="fs-16 zmdi zmdi-plus"></i>
											</div>
										</div>

										<button class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">
											Add to cart
										</button>
									</div>
								</div>	
							</div>

							<!--  -->
							
						</div>
					</div>
				</div>
				
      </div>
      <div class="modal-footer">
      
        <button type="button" class="btn btn-primary"  data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

	