<div class="navbar-wrapper ">
      <div class="container">

        <div class="navbar navbar-inverse navbar-fixed-top animated fadeInDown" role="navigation" id="top-nav">
          <div class="container">
            <div class="navbar-header">
              <!-- Logo Starts -->
              <a matTooltip="Click here for bookings"  routerLink="booking" class="navbar-brand" ><img src="assets/images/logo4.jpg" height="60" width="90" alt="logo"/>
			   <!-- <i class="fa fa-book"></i> +27 81 399 2936 --> </a> 
              <!-- #Logo Ends -->
			 


              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>


            <!-- Nav Starts -->
            <div class="navbar-collapse  collapse">
              <ul class="nav navbar-nav navbar-right" >
					
                  <li class="activer"><a href="#home">Home</a></li>
                 <li><a href="#about">About</a></li>
                
                 <li><a href="#gig">Gig-Guide</a></li>
				  <li><a href="#mix">Mix-Tape</a></li>
                 <li><a href="#contact">Contact</a></li>
				 <li><a routerLink="booking" >Bookings</a></li>
              </ul>
            </div>
            <!-- #Nav Ends -->

          </div>
        </div>

      </div>
    </div>
	
	
	
	<!-- overlay -->
<div class="container overlay">


<!-- home banner starts -->
<div id="home" class="homeinfo">
<div class="row">
	<div class="col-sm-6 col-xs-12">
	<div class="fronttext">
	 	<h2 class="bgcolor  animated fadeInUpBig"><span class="glyphicon glyphicon-headphones"></span> Josie Keen</h2><br>
		<p class=" animated fadeInUp">Afro DJ... Playing those mind and mood provoking Afro house tunes that will have you nodding your head and moving your body. Its more about dropping knowledge on his mixtapes and the love expression for quality explosive tunes than to keep the crowed on the dance floor.Don’t be surprised when you find yourself on the dance floor or tapping your feet.</p>
	</div>
	</div>

	

</div>	
</div>
<!-- home banner ends -->



<!-- blockblack -->
<div class="blockblack">

<!-- About Starts -->
<div id="about" class="spacer">

<h3><i class="fa fa-user"></i> About Me</h3>
<div class="row">				
<div class="col-lg-4 col-sm-4  col-xs-12">
<img src="assets/images/abt.jpg" class="img-responsive" alt="about"/>
</div>
<div class="col-lg-5 col-sm-8  col-xs-12">
<p>Josie Keen is a Louis Trichard’s based Dj, originally from Marble Hall (Elandskraal). He loves playing  and listening to Afro house, deep classic, and Techno house. He started to be into DJ’ing  since 2009.</p>
<blockquote>He spends most of his free time following international and local Afro and deep house DJs, downloading latest hits, and compiling mixtapes. His upbringing was musically influenced by his uncle, who introduced him to house music since 2006 and went on as an under hobby until 2012.<a href="#" data-toggle="modal" data-target="#aboutDetail"> Read more <i class="fa fa-info"></i>..</a></blockquote>
</div>

<div class="col-lg-3 col-sm-8  col-xs-12">

	<a target="_blank" matTooltip="View My Location" href="https://www.google.co.za/search?client=opera&hs=xex&ei=tjGRW_yzIsrFgAbRwoPQBg&q=josie+keen+3rd+avenue+street&oq=josie+keen+3&gs_l=psy-ab.1.0.35i39k1l2.14051.16013.0.17896.2.2.0.0.0.0.392.720.3-2.2.0....0...1.1.64.psy-ab..0.2.719...0i22i30k1.0.A5FgbZ2EDHk"> <i class="fa fa-map-marker fbformat" aria-hidden="true"></i></a>
	<span><a target="_blank" matTooltip="Facebook" href="https://www.facebook.com/Josie_keen-SA-2027492347517296/"><i  class="fa fa-facebook-official fbformat"></i></a> </span>
	<span><a target="_blank" matTooltip="Twitter" href="https://twitter.com/kgatlejoseph"><i  class="fa fa-twitter fbformat" aria-hidden="true"></i></a></span>
	<span> <a target="_blank" matTooltip="Instagram" href="https://www.instagram.com/joseph_kgatle/"> <i  class="fa fa-instagram fbformat" aria-hidden="true"></i> </a> </span>
</div>



</div>
</div>


<!-- About Starts -->
<!--
<div id="about" class="spacer">

<h3><i class="fa fa-comments" aria-hidden="true"></i> Book me through Chats</h3>
<div class="row">				
<div class="col-lg-4 col-sm-4  col-xs-12">
<img src="assets/images/chat2.png" class="img-responsive" alt="about"/>
</div>
<div class="col-lg-5 col-sm-8  col-xs-12">


	 <iframe
			allow="microphone;"
			width="300"
			height="300"
			src="https://console.dialogflow.com/api-client/demo/embedded/a73e2cb9-315f-4ca1-9ed9-91eb4a450d80" class="frameFormat">
		</iframe>

</div>





</div>
</div> -->


<div id="gig"  class="blogevent spacer">
<div class="row">




	<!-- events -->
	<div class="col-md-8 col-xs-12">
		<div class="events">
		<h3><span class="glyphicon glyphicon-calendar"></span> Gig Guide</h3>
		
		<mat-spinner *ngIf="!eventLoaded"></mat-spinner>

		<ul *ngIf="domRefresh">
			<li *ngFor="let event of events">
			<div class="row">
				<div class="col-xs-12 col-sm-3 col-lg-4"><a matTooltip="View Event" href="#" data-toggle="modal" data-target="#blogdetail"><img (click)="onEvent(event)"  src={{event.pic}} class="img-responsive" alt="" /></a></div>
				<div class="col-xs-12  col-sm-6 col-lg-5 "><h5><a href="#" matTooltip="View Event" (click)="onEvent(event)" data-toggle="modal" data-target="#blogdetail">{{event.title}}</a></h5><p>{{event.desc}}</p></div>
				<div class="col-xs-12  col-sm-3 col-lg-3 date"><b>{{event.eventDate}}</b><span>{{event.eventTime}}</span></div>
				
			</div>
			</li>
		
		</ul>
		</div>
	</div>
	<!-- events -->



</div>
</div>






<div id="mix"  class="blogevent spacer">
<div class="row">

	<!-- events -->
	<div class="col-md-8 col-xs-12">
		<div class="events">
		<h3><i class="fa fa-music" aria-hidden="true"></i> <i class="fa fa-list" aria-hidden="true"></i> Mix Tape</h3>
		<!--<spinner *ngIf="!mixTapeLoaded" [size]="30"  [tickness]="4" ></spinner>-->
		
		<mat-spinner *ngIf="!mixTapeLoaded"></mat-spinner>

		<ul>
			<li *ngFor="let mix of mixtapes">
			<div class="row">
				<div class="col-xs-12 col-sm-3 col-lg-4 logo3Frmt" ><img (click)="onEvent(event)" class="eventImg" src="assets/images/logo3.jpg" class="img-responsive" alt="event" /></div>
				<div class="col-xs-12  col-sm-6 col-lg-5 eventDescriptionFrmt"><p>{{mix.desc}}</p></div>
				<div class="col-xs-12  col-sm-3 col-lg-3 date"><b >Click <a target="_blank" href={{mix.url}}> here</a> to download</b></div>
				
			</div>
			</li>
		
		</ul>
		</div>
	</div>
	<!-- events -->



</div>
</div>






<!--Blog Events Ends-->


<!--Contact Starts-->
<div id="contact" class="spacer">
<div class="contactform center">
<h3><i class="fa fa-commenting-o" aria-hidden="true"></i> <i class="fa fa-commenting-o" aria-hidden="true"></i> <i class="fa fa-commenting-o" aria-hidden="true"></i></h3>
  <div class="row">      
      <div class="col-sm-6 col-sm-offset-3 ">
      <h4><b>Say Hello <i class="fa fa-smile-o" aria-hidden="true"></i>  <br> For Bookings click <a routerLink="booking">here</a>
		<br> 
         <a routerLink="fans">View <i class="fa fa-columns" aria-hidden="true"></i></a> Fan Page	
	  </b></h4>
	  
	   <form #form="ngForm" (ngSubmit)="onSendMessage(form)">
        <input type="text" name="name" ngModel placeholder="Name" >
        <input type="text" name="mail" ngModel placeholder="Email" email>
        <textarea rows="5" name="message" ngModel placeholder="Message"></textarea>
		
		<label *ngIf="hasSent" >Message Sent. Thank you <i class="fa fa-thumbs-o-up"></i></label>
		<label *ngIf="errorOccured">An unexpected error occured. Please check your network connection.</label>
		
        <button type="submit" [disabled]="!form.valid " class="btn btn-primary"><i class="fa fa-paper-plane" aria-hidden="true"></i> Send  </button>
		
		</form>
		<br>
		
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3671.1811939837985!2d29.92330851452771!3d-23.05381778493722!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1ec66e8986381eb5%3A0x70fa37addd8819e6!2sJosie+Keen!5e0!3m2!1sen!2sza!4v1536824810158" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		
      </div>
  </div>
  
  





</div>
<!--Contact Ends-->
</div>



</div>
<!-- blockblack -->

</div>




<!-- Footer Starts -->
<div id="footer">
<div class="container">
 &copy; JOSIE KEEN.
</div>
</div>
<!-- # Footer Ends -->


<!-- background slider -->
<div id="myCarousel" class="carousel slide hidden-xs">
<div class="carousel-inner">
    <div class="active item"><img src="assets/images/b1.jpg" alt="" /></div>
    <div class="item"><img src="assets/images/b1.jpg" alt="" /></div>
    <div class="item"><img src="assets/images/2.jpg" alt="" /></div>
  </div>
</div>
<!-- background slider -->






<!-- Modal -->
<div *ngIf="eventHasData" class="modal fade" id="blogdetail" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>


<div  id="blog">
<h2>{{event.title}}</h2>
<small>{{event.eventDate}}, {{event.eventTime}}</small>
      
      <a class="thumbnail"><img src={{event.pic}} class="img-reponsive" alt="" /></a>
      
      <div class="col-lg-8 col-lg-offset-2">                                                                           
      <p>{{event.desc}}</p>
     
      </div>

                            
</div>


    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- Modal -->
<div  class="modal fade" id="aboutDetail" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>


<div  id="blog">
<h2>Joseph Kgatle</h2>
<small>Known as Josie Keen</small>
      
      <a class="thumbnail"><img src="assets/images/b2.jpg" class="img-reponsive" alt="blog" /></a>
      
      <div class="col-lg-8 col-lg-offset-2">                                                                           
      <p>From 2006 he started following house music and its artists. Spending late nights busy with Autom4, and compiling mixtapes. His progress was inspired by artist like Ralf gum, Rocco, Da capo, DJ fresh, Black coffee, Shimza, and Kent.<br></p>
	  <p> His love for house music got him collecting music from friends and family and also internet downloads.  <br></p>
	  
	  <p>Having played at most affluent night clubs and pubs few to mention, Mandi’s pub, Nicerg’s pub (Nzhelele), Mome’s place (Nkuzana), Jasbir (executive lounge), club rumours (Louis Trichard), The State chisanyama, Annual Facebook party (Elandskraal), Phalaphala Royal Heritage Activation party, Mashaba joint (Elandskraal), V-lounge (Elin), guest DJ and interviewee at Makhado FM, guest DJ and interviewee at Hlanganani FM. Played at special event;  Sho Madjozin home coming post party.   <br></p>
     
      </div>

                            
</div>


    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->











