.eventImg{
	height: 250px !important;
	width: 600px !important;
}

 iframe{
	width: 100%;
	height:300px;
	border: none;
	opacity: 0.8;
	border-radius: 5px;
}
.featured-artist-area {
  position: relative;
  z-index: 1; }
  
.section-padding-100 {
  padding-top: 100px;
  padding-bottom: 100px; }
  
.bg-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }
  
.bg-overlay {
  position: relative;
  z-index: 2;
  background-position: center center;
  background-size: cover; }
.bg-overlay::after {
    background-color: rgba(0, 0, 0, 0.65);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: ""; }
	
.bg-fixed {
  background-attachment: fixed !important; }
  
  
 .featured-artist-content {
  position: relative;
  z-index: 1; }
  @media only screen and (max-width: 767px) {
    .featured-artist-content {
      margin-top: 50px; } }
  .featured-artist-content p {
    color: #fff; }
	
.section-heading {
  position: relative;
  z-index: 1;
  margin-bottom: 100px;
  text-align: center; }
  .section-heading p {
    color: #5f5f5f;
    font-size: 14px;
    margin-bottom: 5px; }
  .section-heading h2 {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-bottom: 0; }
    @media only screen and (max-width: 767px) {
      .section-heading h2 {
        letter-spacing: 5px; } }
  .section-heading.white h2 {
    color: #fff; }
  .section-heading.style-2 p {
    font-size: 16px; }
  .section-heading.style-2 h2 {
    font-size: 30px; }
    @media only screen and (max-width: 767px) {
      .section-heading.style-2 h2 {
        font-size: 24px; } }
		
.mb-30 {
  margin-bottom: 30px !important; }
  
.song-play-area {
  position: relative;
  z-index: 1;
  width: 100%;
  background-color: #262626;
  padding: 15px 30px 20px;
  border: 1px solid #363636; }
  .song-play-area .song-name p {
    color: #b8b8b8;
    margin-bottom: 5px; }
  .song-play-area .audioplayer {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    align-items: center;
    border: none;
    border-radius: 0;
    background: transparent; }
  .song-play-area .audioplayer-playing .audioplayer-playpause,
  .song-play-area .audioplayer:not(.audioplayer-playing) .audioplayer-playpause:hover,
  .song-play-area .audioplayer:not(.audioplayer-playing) .audioplayer-playpause {
    background: #fff; }
  .song-play-area .audioplayer-time {
    font-size: 14px;
    color: #fff; }
	
	
