<div class="navbar-wrapper ">
      <div class="container">

        <div class="navbar navbar-inverse navbar-fixed-top animated fadeInDown" role="navigation" id="top-nav">
          <div class="container">
            <div class="navbar-header">
              <!-- Logo Starts -->
			  
              <a class="navbar-brand" routerLink=""><img src="assets/images/logo4.jpg" height="60" width="90" alt="logo"/></a>
              <!-- #Logo Ends -->


              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>


            <!-- Nav Starts -->
            <div class="navbar-collapse  collapse">
              <ul class="nav navbar-nav navbar-right" >
                  <li class="active"><a routerLink="">Home</a></li>
                 
				
              </ul>
            </div>
            <!-- #Nav Ends -->

          </div>
        </div>

      </div>
    </div>
	
	
	
	
	
		
	<!-- overlay -->
<div class="container overlay">





<!-- blockblack -->
<div>
<h1>&nbsp;</h1>
</div>
<div class="blockblack">
<div>
<h1>&nbsp;</h1>
</div>

<h2> <i class="fa fa-globe"></i> <i class="fa fa-book"></i> Bookings</h2>
<h5>Book me for your events</h5>

<!--Booking Starts-->
<div id="contact" class="spacer">
<div class="contactform center">

  <div class="row"> 

	   <div class="col-sm-6  ">
		<h5><strong>Contact details</strong></h5><br>
		<p><i class="fa fa-phone-square"></i>  +27 81 399 2936<br>
		<i class="fa fa-envelope"></i> kgatlejoseph@gmail.com</p>
      </div>
	
  
      <div class="col-sm-6  ">
	  <h5><strong>Booking form</strong></h5><br>
	  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
		<label for="name">Your Name(required)</label>
        <input type="text" id="name" name ="name"  placeholder="Name"  ngModel required>
		<label for="mail">Your Email(required)</label>
        <input type="text" id="mail" name ="mail" placeholder="Email"  ngModel email required>
		<label for="cNumber">Your Contact Number(required)</label>
		<input type="text" id="cNumber" name ="cNumber" placeholder="Contact Number" pattern="[0-9]*" minlength="10" maxlength="10"  ngModel  required>
		<label for="eventDate" >Event Date(required)</label>
        <input type="date"  id="eventDate" name ="eventDate"  ngModel required >
		<label for="eventType" >Event Type(required)</label>
		<input type="text" id="eventType" name ="eventType" placeholder="Wedding, Concert, Party, Club etc."  ngModel required>
		
		<label for="eventLocation" >Event Location(required)</label>
        <input type="text" id="eventLocation" name ="eventLocation" placeholder="Province, City/Town, Suburb etc."  ngModel required>
		
		<label *ngIf="hasSent" >Booking Sent. Thank you <i class="fa fa-thumbs-o-up"></i> </label>
		<label *ngIf="errorOccured">An unexpected error occured. Please check your network connection.</label>
        <button type="submit" [disabled]="!form.valid || isWait" class="btn btn-primary "><i class="fa fa-paper-plane" aria-hidden="true"></i> Send <spinner *ngIf= "isWait"   [size]="23"  [tickness]="8" ></spinner> </button>
		</form>
      </div>
	 
  </div>
  





</div>
<!--Booking Ends-->
</div>



</div>
<!-- blockblack -->

</div>




<!-- Footer Starts -->
<div id="footer">
<div class="container">
 &copy; JOSIE KEEN.
</div>
</div>
<!-- # Footer Ends -->


<!-- background slider -->
<div id="myCarousel" class="carousel slide hidden-xs">
<div class="carousel-inner">
    <div class="active item"><img src="assets/images/b1.jpg" alt="" /></div>
    <div class="item"><img src="assets/images/b1.jpg" alt="" /></div>
    <div class="item"><img src="assets/images/b1.jpg" alt="" /></div>
  </div>
</div>
<!-- background slider -->
	